In [1]:
#getting connected to the twitter api
import tweepy
import webbrowser
import time

In [2]:
consumer_key = ""
consumer_secret = ""

In [3]:
callback_uri = "oob"

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_uri)

In [5]:
redirect_url = auth.get_authorization_url()

In [6]:
webbrowser.open(redirect_url)

True

In [7]:
user_pin_input = input("What's the pin value? ") #this will change

What's the pin value? 3732717

In [8]:
user_pin_input

'3732717'

In [9]:
auth.get_access_token(user_pin_input) #access keys for this account

('1134091111499218944-DwMsnvWspER9yCOZBwiYi28TWXy8NO',
 'KYTAQQeJbL0Ek8Fweklt54ii3aV1ZxeeihgWvw5DvK5yE')

In [18]:
api = tweepy.API(auth, wait_on_rate_limit = True) #now access to everything in tweepy API

In [11]:
me = api.verify_credentials()

In [12]:
print(me.screen_name)
#all set up now!

by_ethompson

In [14]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [15]:
twitter_lists = pd.read_csv("Local News Twitter Lists (2).csv")
twitter_lists

,state,list name (copy and paste),number,list link,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,# of members,notes
0,Alabama,AL News Network Team,”170315974”,https://twitter.com/i/lists/170315974,NaN,NaN,NaN,NaN,17,NaN
1,Alabama,AL Political Reporters,”101019052”,https://twitter.com/i/lists/101019052,NaN,NaN,NaN,NaN,38,NaN
2,Alabama,Local TV News Reporters,”745726587996352513”,https://twitter.com/i/lists/745726587996352513,NaN,NaN,NaN,NaN,60,NaN
3,Alabama,Alabama journalists,”26587996352513”,https://twitter.com/i/lists/983565428931805184,NaN,NaN,NaN,NaN,50,NaN
4,Alabama,Alabama News,”135485559”,https://twitter.com/i/lists/135485559,NaN,NaN,NaN,NaN,80,NaN
...,...,...,...,...,...,...,...,...,...,...
210,US,Women to be thankful for,”930927966212804608”,https://twitter.com/i/lists/930927966212804608,NaN,NaN,NaN,NaN,"1,100",NaN
211,US,US Immigration Reporters,”967570371217166336”,https://twitter.com/i/lists/967570371217166336,NaN,NaN,NaN,NaN,245,NaN
212,Washington DC,DC News,”84940310”,https://twitter.com/i/lists/84940310,NaN,NaN,NaN,NaN,423,NaN
213,Washington DC,Fox 5,”91126954”,https://twitter.com/i/lists/91126954,NaN,NaN,NaN,NaN,84,NaN
214,DE/NY/NJ,Journalists,”55731869”,https://twitter.com/i/lists/55731869,NaN,NaN,NaN,NaN,"1,100",US Today exec list

In [16]:
twitter_lists["number"] = twitter_lists["number"].astype(str)
numbers = list(twitter_lists["number"])
numbers = [item.replace('”', '') for item in numbers]
#numbers = [item.strip('"') for item in numbers]
print(numbers)

['170315974', '101019052', '745726587996352513', '26587996352513', '135485559', '96578256', '896042580701478913', '52729268', '71767449', '1219678393656102914', '79598275', '44034290', '121061196', '416159', '4795383', '194938237', '42221269', '26360965', '1369070823080792064', '1502366499490525185', '1187132011061792768', '925452627785031680', '78530620', '232456069', '7953513', '2743818', '87147550', '78274077664567296', '88660067', '1101142081748185088', '24952023', '24951743', '1086041808205840384', '1828073', '36477018', '702552865525465088', '210409727', '15024361', '4058419', '209821208', '1215076788532957184', '71398890', '71399169', '42762261', '1240390476370509824', '1199442589243432960', '11252465', '1488675907501899778', '92731431', '222104', '847148344380043266', '73277670', '829385373155475456', '1293795972967849984', '74828858', '1105834', '42380138', '46619874', '65630680', '6602537', '20872868', '231806037', '1021853074552315904', '1323778470275665920', '34506389', '748173326330171394', '1277373210049286144', '7596128', '6883966', '82119960', '9814634', '102623326', '88216581', '135101895', '7178044', '55680274', '1395023132713525249', '1395023280004812803', '63706184', '61804804', '90516012', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '879762', '215130262', '1323367722407919624', '1036458493220478979', '1398977949064388616', '879351', '1835658', '1832026', '863750234782019585', '42351915', '58301370', '59574094', '185205800', '86578190', '2770421', '1041784836657168384', '2939542', '72921040', '2939658', '70067818', '55181455', '89853478', '7172489', '231969773', '76493452', '36549909', '43693326', '859089504715624448', '74786972', '1156939767885574145', '1581051877612986368', '10238149', '33601650', '80578115', '14126258', '91201083', '1174051324888924161', '86074671', '812136494559215616', '1332568828534951936', '62709303', '68428282', '31028841', '35209000', '205972', '2379011', '60119090', '891770846762500097', '1536757', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '167353513', 'nan', 'nan', 'nan', '95881429', '95887195', '198827633', '89476401', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '819336797666709504', 'nan', 'nan', 'nan', 'nan', '1206785313454116864', '1197353430941097984', 'nan', '120720502', 'nan', 'nan', '216797728', 'nan', 'nan', 'nan', 'nan', '344998', '1951005', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', '234613344', '1387466324184604672', '842469727909883905', '935188341108166657', '930927966212804608', '967570371217166336', '84940310', '91126954', '55731869']

In [17]:
#this seems to work
#for number in numbers[:3]:
 #  print(number)
  #  members = api.get_list_members(list_id = number)
  #  for member in tweepy.Cursor(api.get_list_members,list_id = number).items():
     #  screen_name = member.screen_name
     #  bio = member.description

In [26]:
for number in numbers[:2]:
    members = tweepy.Cursor(api.get_list_members,list_id = number).items()
    tweet_df = {'screen_name': [member.screen_name for member in members],
             'bio': [member.description for member in members]}

In [ ]:
journo_info.to_csv("journo_info.csv", index = False)